body{
    background-color: cornflowerblue;
    color: white;
    font-family: Verdana, sans-serif;

}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    background-color: green;
    opacity: 0.3;
    font-size: 1.2rem;
    transition: 0.3s;
    color:white;
}

a:visited{
    color: white;
}